@charset "UTF-8";
.w24 {
  font-size: 24px; }

.fill:hover {
  fill: #10158C; }

* {
  margin: 0;
  padding: 0; }

body {
  background-color: #E5E5E5;
  width: 1440px;
  margin-left: auto;
  margin-right: auto; }

.menuTop {
  position: fixed;
  width: 1440px;
  height: 99px;
  z-index: 100; }
  .menuTop__opacity {
    width: 1440px;
    height: 99px;
    opacity: 0.9;
    background: #FDFDFD;
    position: absolute;
    z-index: 3; }
  .menuTop img {
    position: absolute;
    left: 157px;
    top: 2px;
    z-index: 4; }
  .menuTop__menu {
    position: relative;
    left: 442px;
    top: 39px;
    z-index: 4; }
    .menuTop__menu ul li {
      list-style: none;
      height: 19px;
      font-family: "Lato", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      float: left;
      margin-left: 16px;
      margin-right: 16px;
      color: #000000;
      cursor: pointer; }
      .menuTop__menu ul li:hover {
        border-bottom: 3px solid #619409;
        padding-bottom: 3px; }
      .menuTop__menu ul li a {
        text-decoration: none;
        color: #000000; }
  .menuTop__out {
    width: 70px;
    height: 150px;
    display: none; }
    .menuTop__out:hover {
      display: block; }
    .menuTop__out-opac {
      width: 100px;
      height: 70px;
      opacity: .9;
      background: #FDFDFD;
      left: 636px;
      top: 99px;
      position: relative; }
    .menuTop__out ul {
      position: relative;
      left: 655px;
      height: 80px;
      z-index: 100; }
      .menuTop__out ul li {
        font-family: "Lato", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 29px;
        list-style: none; }
        .menuTop__out ul li a {
          text-decoration: none;
          color: #000000; }
          .menuTop__out ul li a:hover {
            border-bottom: 3px solid #619409; }
  .menuTop__mob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    left: 1079px;
    height: 30px;
    width: 250px;
    position: absolute;
    top: 0px;
    z-index: 4;
    top: 34px; }
    .menuTop__mob h2 {
      top: 4px;
      height: 24px;
      position: relative;
      right: -50px;
      font-family: "Lato", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 24px; }
      .menuTop__mob h2 a {
        text-decoration: none;
        color: #000000; }
    .menuTop__mob img {
      position: relative;
      left: 36px; }

.header {
  top: -99px;
  background-color: #E5E5E5;
  width: 1440px;
  height: 645px;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  position: relative; }
  .header__block1 {
    position: relative;
    z-index: 1;
    height: 645px;
    width: 1440px;
    margin-left: auto;
    margin-right: auto; }
    .header__block1 img {
      width: 1440px; }
    .header__block1 h1 {
      color: #000000;
      letter-spacing: 0.03em;
      font-family: "Lato", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 48px;
      line-height: 58px;
      opacity: 1;
      position: absolute;
      width: 344px;
      bottom: 114px;
      left: 174px;
      z-index: 3; }
    .header__block1-text {
      position: absolute;
      width: 344px;
      height: 140px;
      background-color: #E7DDD7;
      opacity: .6;
      bottom: 96px;
      left: 157px;
      z-index: 2; }

.YoungFamily {
  height: 916px;
  width: 1440px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: -99px;
  padding-top: 100px; }
  .YoungFamily__title {
    width: 760px;
    height: 176px;
    margin-left: 340px;
    text-align: center; }
    .YoungFamily__title h2 {
      font-family: "Lato", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 48px;
      line-height: 58px;
      color: #000000; }
  .YoungFamily__body {
    width: 407px;
    height: 469px;
    margin-left: 156px;
    margin-top: 91px; }
    .YoungFamily__body p {
      font-family: "Merriweather", serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 23px;
      text-indent: 25px;
      color: #000000; }
  .YoungFamily__foto {
    width: 839px;
    height: 560px;
    float: right;
    position: relative;
    top: -530px; }
    .YoungFamily__foto img {
      margin-top: 30px;
      margin-left: 30px; }

.weOffer {
  height: 1513px;
  width: 1440px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  position: relative; }
  .weOffer__title {
    width: 818px;
    height: 182px;
    position: absolute;
    margin-left: 311px;
    text-align: center; }
    .weOffer__title h2 {
      font-family: "Lato", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 48px;
      line-height: 58px;
      color: #000000; }
  .weOffer__foto1 {
    width: 658px;
    height: 469px;
    position: absolute;
    left: 150px;
    top: 242px; }
    .weOffer__foto1 img {
      position: absolute; }
  .weOffer__body {
    width: 461px;
    height: 389px;
    position: absolute;
    left: 153px;
    top: 833px;
    z-index: 5; }
    .weOffer__body p {
      font-family: "Merriweather", serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 23px;
      text-indent: 25px;
      color: #000000; }
  .weOffer__body-top {
    width: 431px;
    height: 367px;
    position: absolute;
    top: 283px;
    right: 150px;
    z-index: 5; }
    .weOffer__body-top p {
      font-family: "Merriweather", serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 23px;
      text-indent: 25px;
      color: #000000; }
  .weOffer__foto2 {
    position: absolute;
    right: 150px;
    top: 771px;
    z-index: 5; }
  .weOffer__quote {
    width: 806px;
    height: 240px;
    background-color: #DC5505;
    z-index: 6;
    position: absolute;
    left: 344px;
    top: 1273px;
    text-align: left; }
    .weOffer__quote h3 {
      font-family: "Lato", sans-serif;
      font-style: italic;
      font-weight: normal;
      font-size: 32px;
      line-height: 38px;
      color: #FFFFFF;
      margin-left: 90.19px;
      margin-top: 67.04px; }
    .weOffer__quote-double1 {
      position: absolute;
      z-index: 7;
      top: 52.08px;
      left: 42px; }
    .weOffer__quote-double2 {
      position: absolute;
      z-index: 7;
      top: 52.08px;
      right: 40.42px; }

.products {
  width: 1440px;
  height: 1203px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  position: relative; }
  .products a {
    text-decoration: none;
    color: #000000; }
  .products__title {
    width: 456px;
    height: 54px;
    left: 478px;
    position: absolute;
    top: 100px; }
    .products__title h2 {
      font-family: "Lato", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 48px;
      line-height: 58px;
      width: 456px;
      text-align: center; }
  .products__grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 26px;
    width: 1140px;
    height: 1003px;
    position: absolute;
    top: 200px;
    left: 152px; }
    .products__grid-prod img:hover {
      border-radius: 10px;
      -webkit-box-shadow: 0 0 10px #619409;
      box-shadow: 0 0 10px #619409; }
    .products__grid-prod-vectorMod {
      position: absolute;
      right: 97px;
      bottom: 172px; }
    .products__grid-prod-button {
      background-color: #619409;
      width: 136px;
      height: 47.53px;
      position: relative;
      left: 226px;
      top: 46px;
      font-family: "Merriweather", serif;
      font-style: normal;
      font-size: 16px;
      line-height: 20px;
      color: #FFFFFF;
      cursor: pointer; }
      .products__grid-prod-button:hover {
        -webkit-box-shadow: 0 0 10px #619409;
        box-shadow: 0 0 10px #619409;
        padding: 10px; }
    .products__grid-prod h3 {
      font-family: "Merriweather", serif;
      font-style: normal;
      font-size: 24px;
      line-height: 15px;
      color: #000000;
      position: relative;
      top: 32.92px; }
    .products__grid-prod-weight {
      font-family: "Merriweather", serif;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 15px;
      position: relative;
      bottom: -90px;
      left: 97px;
      color: #000000; }
    .products__grid-prod-price {
      font-family: "Merriweather", serif;
      font-style: normal;
      font-size: 18px;
      line-height: 15px;
      color: #000000;
      position: relative;
      bottom: -105px; }

.howWeWork {
  width: 1440px;
  height: 681px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden; }
  .howWeWork__title {
    width: 371px;
    height: 58px;
    padding-top: 101px;
    margin-left: 542px;
    position: relative;
    z-index: 5; }
    .howWeWork__title h3 {
      font-family: "Lato", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 48px;
      line-height: 58px;
      color: #000000;
      width: 371px;
      text-align: center; }
  .howWeWork__bgFoto {
    position: absolute;
    top: 50px;
    left: -15px;
    z-index: 4; }
  .howWeWork__blocks {
    position: absolute;
    z-index: 5;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1px;
    width: 1010px;
    top: 246px;
    left: 247px; }
    .howWeWork__blocks-block {
      width: 73px;
      height: 76px;
      background-color: #DC5505;
      font-family: "Lato", sans-serif;
      font-style: normal;
      font-size: 24px;
      line-height: 29px;
      color: #FFFFFF; }
      .howWeWork__blocks-block p {
        position: relative;
        left: 30px;
        top: 20px; }
    .howWeWork__blocks-im {
      position: relative;
      top: 17px;
      width: 73px;
      height: 76px; }
  .howWeWork__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: absolute;
    top: 371px;
    left: 170px;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    width: 1140px; }
    .howWeWork__text-p {
      width: 231px;
      position: relative;
      z-index: 6;
      font-family: "Merriweather", serif;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 30px;
      text-align: center; }

.slick-prev {
  position: relative;
  top: 70px;
  font-size: -10px;
  display: block; }

.slick-next {
  position: relative;
  top: -151px;
  float: right; }

.feedback {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  width: 1440px;
  height: 648px;
  background-color: white; }
  .feedback__title {
    margin-top: 60px;
    width: 300px;
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 58px;
    color: #000000;
    position: absolute;
    left: 635px; }
  .feedback .slick-prev {
    width: 39px;
    height: 39px;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    -webkit-transform: rotate(41.65deg);
    -ms-transform: rotate(41.65deg);
    transform: rotate(41.65deg);
    position: absolute;
    z-index: 20;
    left: 9px;
    top: 70px; }
  .feedback .slick-next {
    width: 39px;
    height: 39px;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    right: 9px;
    top: 70px;
    -webkit-transform: rotate(-44.7deg);
    -ms-transform: rotate(-44.7deg);
    transform: rotate(-44.7deg);
    position: absolute;
    z-index: 20; }
  .feedback__grid {
    position: relative;
    top: 178px;
    width: 1200px;
    height: 209px;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden; }
    .feedback__grid-feed {
      position: relative;
      top: 0px;
      margin-right: 110px;
      margin-left: 110px;
      text-align: center;
      float: left;
      width: 450px; }
      .feedback__grid-feed-name {
        font-family: "Merriweather", serif;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 30px;
        color: #000000;
        margin-bottom: 9px; }
      .feedback__grid-feed-p {
        border-top: 1px solid #000000;
        padding-top: 35px;
        font-family: "Merriweather", serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px; }
      .feedback__grid-feed-star {
        width: 168.27px;
        height: 35px;
        margin-bottom: 11px; }
  .feedback__response-form {
    width: 480px;
    height: 513px;
    background: #FDF9F9;
    border: 1px solid #C4C4C4;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    left: 460px;
    bottom: 100px;
    z-index: 200;
    -webkit-box-shadow: 0 0 10px #619409;
    box-shadow: 0 0 10px #619409;
    position: fixed;
    display: none; }
    .feedback__response-form-vector {
      position: absolute;
      right: 16px;
      top: 16px;
      height: 32px;
      width: 32px;
      border: none;
      background-color: #FDF9F9; }
      .feedback__response-form-vector svg {
        position: absolute;
        left: 6px;
        top: 6px; }
      .feedback__response-form-vector:hover {
        background-color: #619409;
        cursor: pointer; }
        .feedback__response-form-vector:hover path:hover {
          fill: #F5F8F1;
          cursor: pointer; }
    .feedback__response-form-h2 {
      width: 187.31px;
      height: 25px;
      font-family: "Merriweather", serif;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 25px;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      color: #000000;
      margin-top: 41px; }
    .feedback__response-form-text1 {
      width: 66px;
      height: 16px;
      font-family: "Merriweather", serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      color: #000000;
      margin-left: 46px;
      margin-top: 24px; }
      .feedback__response-form-text1-input1 {
        width: 370.54px;
        height: 40px;
        background: #FFFBFB;
        border: 1px solid rgba(0, 0, 0, 0.5);
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        margin-top: 9px;
        font-size: 37px; }
    .feedback__response-form-text2 {
      width: 134.37px;
      height: 20px;
      font-family: "Merriweather", serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      color: #000000;
      margin-top: 65px;
      margin-left: 46px; }
    .feedback__response-form-list {
      margin-left: 46px;
      margin-top: 10px; }
      .feedback__response-form-list-star {
        list-style: none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        float: left; }
        .feedback__response-form-list-star path:hover {
          fill: #FDC709;
          stroke: #FDC709;
          cursor: pointer; }
    .feedback__response-form-text3 {
      width: 118.08px;
      height: 26px;
      font-family: "Merriweather", serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      color: #000000;
      margin-left: 46px;
      margin-top: 61px; }
      .feedback__response-form-text3-input3 {
        width: 370.54px;
        height: 143px;
        background: #FFFBFB;
        border: 1px solid rgba(0, 0, 0, 0.5);
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        margin-top: 9px;
        font-size: 16px;
        font-family: "Merriweather", serif; }
    .feedback__response-form-button {
      width: 173.06px;
      height: 40px;
      background: #619409;
      font-family: "Merriweather", serif;
      font-style: normal;
      text-align: center;
      margin-left: 151px;
      margin-top: 162px;
      border: none;
      font-size: 20px;
      line-height: 25px;
      color: #FFFBFB; }
      .feedback__response-form-button:hover {
        -webkit-box-shadow: 0 0 10px #619409;
        box-shadow: 0 0 10px #619409;
        cursor: pointer; }
  .feedback__button {
    position: absolute;
    margin-top: 242px;
    left: 623px;
    margin-left: auto;
    margin-right: auto;
    width: 194px;
    height: 57px;
    background-color: #F5F8F1;
    border: 4px solid #619409;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer; }
    .feedback__button:hover {
      -webkit-box-shadow: 0 0 10px #619409;
      box-shadow: 0 0 10px #619409;
      padding: 10px;
      -webkit-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s;
      -webkit-transform: scale(0.99);
      -ms-transform: scale(0.99);
      transform: scale(0.99); }
    .feedback__button-text {
      font-family: "Merriweather", serif;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 20px;
      color: #619409; }

.footer {
  background-color: #1A0B04;
  width: 1440px;
  height: 282px;
  margin-right: auto;
  margin-left: auto;
  position: relative; }
  .footer__menu {
    position: absolute;
    left: 247px;
    top: 30px;
    width: 300px; }
    .footer__menu-ul-li {
      list-style: none;
      font-family: "Lato", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      color: #FCF6F6;
      margin-bottom: 17px; }
      .footer__menu-ul-li a {
        text-decoration: none;
        color: #FCF6F6; }
        .footer__menu-ul-li a:hover {
          margin-left: 3px;
          padding-left: 6px;
          border-left: 1px solid #FCF6F6;
          -webkit-transition: 0.1s;
          -o-transition: 0.1s;
          transition: 0.1s;
          -webkit-transform: scale(1.04);
          -ms-transform: scale(1.04);
          transform: scale(1.04); }
    @media screen and (max-width: 322px) {
      .footer__menu-ul {
        display: none; } }
  .footer__vector {
    position: absolute;
    top: 44px;
    left: 639px;
    width: 27px;
    height: 27px;
    margin-right: 0; }
    .footer__vector path:hover {
      fill: #10158C; }
  .footer__tel {
    position: absolute;
    top: 105px;
    left: 641px;
    width: 300px; }
    .footer__tel-ul-li {
      margin-bottom: 33px;
      list-style: none;
      font-family: "Lato", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 24px;
      color: #FDFAFA; }
      .footer__tel-ul-li a {
        text-decoration: none;
        color: #FDFAFA; }
      .footer__tel-ul-li-img {
        margin-right: 16px;
        cursor: pointer; }

/* НАСІННЯ */
.oil-button-bad {
  position: relative;
  top: 20px; }

.oil-button-bad2 {
  position: relative;
  top: 24px; }

.go-h2 {
  text-align: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: 99px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 58px;
  color: #000000;
  height: 58px;
  width: 173px; }

.seed {
  width: 1440px;
  height: 1191px;
  background-color: white;
  padding-top: 100px;
  margin-left: auto;
  margin-right: auto;
  position: relative; }
  .seed__grid {
    position: relative;
    top: 160px;
    margin-left: auto;
    margin-right: auto;
    width: 1132px;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px; }
    .seed__grid-bloc {
      width: 356px;
      height: 407px; }
      .seed__grid-bloc img {
        cursor: pointer;
        width: 356px; }
        .seed__grid-bloc img:hover {
          border-radius: 10px;
          -webkit-box-shadow: 0 0 10px #619409;
          box-shadow: 0 0 10px #619409; }
      .seed__grid-bloc-price {
        position: relative;
        top: 80px; }
      .seed__grid-bloc-weight {
        position: relative;
        top: 67px; }
      .seed__grid-bloc-button {
        position: relative;
        top: 22px;
        left: 220px;
        cursor: pointer; }

.oil {
  width: 1440px;
  height: 1215px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  position: relative; }
  .oil__grid {
    position: relative;
    top: 160px;
    margin-left: auto;
    margin-right: auto;
    width: 1132px;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px; }
    .oil__grid-bloc {
      width: 363px;
      height: 469px; }
      .oil__grid-bloc a {
        text-decoration: none;
        color: #000000; }
      .oil__grid-bloc img {
        width: 363px; }
        .oil__grid-bloc img:hover {
          border-radius: 10px;
          -webkit-box-shadow: 0 0 10px #619409;
          box-shadow: 0 0 10px #619409; }
      .oil__grid-bloc-h3 {
        position: relative;
        top: 32px; }
      .oil__grid-bloc-price {
        position: relative;
        top: 80px; }
      .oil__grid-bloc-weight {
        position: relative;
        top: 65px; }
      .oil__grid-bloc-button {
        position: relative;
        top: 20px; }

.meal {
  width: 1440px;
  height: 1231px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  position: relative; }
  .meal__grid {
    position: relative;
    top: 162px;
    margin-left: auto;
    margin-right: auto;
    width: 1132px;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 23px; }
    .meal__grid-bloc {
      width: 365px;
      height: 407px; }
      .meal__grid-bloc img {
        cursor: pointer;
        width: 365px; }
        .meal__grid-bloc img:hover {
          border-radius: 10px;
          -webkit-box-shadow: 0 0 10px #619409;
          box-shadow: 0 0 10px #619409; }
      .meal__grid-bloc-h3 {
        position: relative;
        top: 20px; }
      .meal__grid-bloc-price {
        position: relative;
        top: 75px; }
      .meal__grid-bloc-weight {
        position: relative;
        top: 61px; }
      .meal__grid-bloc-button {
        position: relative;
        top: 15px;
        left: 230px; }

/*Карточка товару -- Олія гарбузова*/
.card-tovar-oil-garb {
  width: 1440px;
  height: 1314px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative; }
  .card-tovar-oil-garb__oil {
    width: 558px;
    height: 468px;
    margin-top: 54px;
    margin-left: 150px; }
    .card-tovar-oil-garb__oil img {
      width: 558px;
      height: 468px; }
  .card-tovar-oil-garb__main {
    position: relative;
    width: 500px;
    height: 227px;
    left: 70px;
    top: 108px;
    font-family: "Merriweather", serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    color: #000000; }
    .card-tovar-oil-garb__main-h3 {
      position: relative;
      top: 0px; }
    .card-tovar-oil-garb__main-volume {
      position: relative;
      left: 0px;
      top: 45px; }
    .card-tovar-oil-garb__main-weight {
      position: relative;
      left: 0px;
      top: 52px; }
    .card-tovar-oil-garb__main-price {
      position: relative;
      left: 0px; }
  .card-tovar-oil-garb__button {
    position: relative;
    left: -432px;
    top: 385px; }
  .card-tovar-oil-garb__text {
    position: relative;
    width: 500px;
    height: 529px;
    margin-left: 150px;
    bottom: 34px; }
    .card-tovar-oil-garb__text-p {
      font-family: "Merriweather", serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      text-indent: 25px;
      color: #000000; }
  .card-tovar-oil-garb__gar {
    width: 561px;
    height: 591px;
    margin-left: 79px;
    position: absolute;
    right: 150px;
    bottom: 140.6px; }
    .card-tovar-oil-garb__gar img {
      width: 561px;
      height: 591px; }

.form-order {
  display: none;
  width: 900px;
  height: 550px;
  background-color: #E5E5E5;
  position: fixed;
  top: 110px;
  left: 300px;
  z-index: 100;
  -webkit-box-shadow: 0 0 10px #619409;
  box-shadow: 0 0 10px #619409;
  border-radius: 20px; }
  .form-order__form {
    width: 558px;
    height: 467px;
    background: #FDF9F9;
    border: 1px solid #C4C4C4;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    left: 171px;
    top: 41.5px;
    -webkit-box-shadow: 0 0 10px #619409;
    box-shadow: 0 0 10px #619409;
    border-radius: 20px; }
    .form-order__form-h2 {
      width: 241px;
      height: 81px;
      font-family: "Merriweather", serif;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 25px;
      text-align: center;
      color: #000000;
      margin-right: auto;
      margin-left: auto;
      margin-top: 43px; }
    .form-order__form-p1 {
      width: 47px;
      height: 25px;
      font-family: "Merriweather", serif;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 25px;
      color: #000000;
      margin-left: 97px;
      margin-top: 21px; }
      .form-order__form-p1-input1 {
        width: 364px;
        height: 40px;
        background: #FFFBFB;
        border: 1px solid rgba(0, 0, 0, 0.5);
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        font-size: 36px;
        font-family: "Merriweather", serif; }
    .form-order__form-p2 {
      width: 178px;
      height: 25px;
      font-family: "Merriweather", serif;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 25px;
      color: #000000;
      margin-left: 97px;
      margin-top: 79px; }
      .form-order__form-p2-input2 {
        width: 364px;
        height: 40px;
        background: #FFFDFD;
        border: 1px solid rgba(0, 0, 0, 0.5);
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        font-size: 36px;
        font-family: "Merriweather", serif; }
    .form-order__form-button {
      width: 170px;
      height: 40px;
      background-color: #619409;
      border: none;
      position: absolute;
      left: 195px;
      bottom: 55px;
      font-family: "Merriweather", serif;
      font-style: normal;
      font-size: 20px;
      line-height: 25px;
      color: #FFFFFF; }
      .form-order__form-button:hover {
        -webkit-box-shadow: 0 0 15px #619409;
        box-shadow: 0 0 15px #619409; }

/*Дякую за відгук/замовлення*/
.feedback__thank-you {
  display: none;
  width: 412px;
  height: 312px;
  position: fixed;
  background: #FCF5F5;
  border: 1px solid #C4C4C4;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 10000;
  top: 190px;
  left: 550px;
  -webkit-box-shadow: 0 0 70px #619409;
  box-shadow: 0 0 70px #619409; }
  .feedback__thank-you-img {
    margin-left: 45px;
    margin-top: 51px; }
  .feedback__thank-you-p {
    width: 327px;
    height: 25px;
    font-family: "Merriweather", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #000000;
    margin-left: 43px;
    margin-top: 50px; }
